#nav h1, #nav a{
	color:white;}
#nav a {
	margin:0 2.5px 0 2.5px;
	color:#333;
	border:none;
	transition:all 0.2s ease;
	border-radius:2px;
	font-size:125%;}
#nav a:hover {
	background-color:#333;
	color:white;
	border:none;}
#nav-header {
	margin:0;
	padding:35px 22px 35px 22px;
	background-image:url("coffeebeanz.jpg");
	background-size:cover;
	background-position:center;
	width:100%;
	border-bottom:4px solid #333;}
#nav-header #nav .col-sm-4 {
	color:white;
	text-decoration:underline;}
